@import url('../css/fonts.css');

html,body{
  margin: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--light-black);
}

/* -------------- Variables ----------------- */

:root{

  --parrot: #4ce6ba;
  --dark-parrot: #183d33;
  --orange: #e69915;
  --light-gray: #707070;
  --red: #d10a43;
  --gray: #3b3a3a;
  --text-gray: #3f4954;
  --yellow: #fcfc00;
  --light-black: #1a1a1a;

  --archivo: 'Archivo', monospace;
  --cairo: 'Cairo', cursive;
  --fjalla: 'Fjalla-One', cursive;
  --frank-ruhl: 'Frank-Ruhl-Libre', cursive;
  --mulish: 'Mulish', cursive;
  --anton: 'Anton', cursive;
  --pecifico: 'Pacifico', cursive;
}

/* -------------- Variables ----------------- */

/* ------------- Global Classes ------------- */

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

/* ----- colors ----- */

.gray{
  color: var(--gray);
}

.text-gray{
  color: var(--text-gray);
}

.light-gray{
  color: var(--light-gray);
}

.orange{
  color: var(--orange);
}

.white{
  color: white;
}

.red{
  color: red;
}
/* --x- colors --x-- */

.btn{
  border: 1px solid var(--red);
  border-radius: 1.5rem;
  padding: 0.1rem 1rem;
  cursor: pointer;
  font-family: var(--cairo);
}


.btn:hover{
  color: var(--red);
}

.social-items{
  padding: 2.3rem 0;
}

.social-items a{
  padding: 0 0.2rem;
}

.social-items i:hover{
  color: var(--red);
  transition: 0.3s;
}

/* ----- font-family ----- */

.pecifico{
  font-family: var(--pecifico);
}

.fjalla{
  font-family: var(--fjalla);
}

.frank-ruhl{
  font-family: var(--frank-ruhl);
}

/* --x-- font-family --x-- */

/* -----  font-sizes ----- */
.size1-5{
  font-size: 1.5rem;
}
.size2{
  font-size: 2rem;
}
.size3{
  font-size: 3rem;
}

/* --x-- font-sizes --x-- */

/* ----- font-weight ----- */

.lighter{
  font-weight: lighter;
}

.bold{
  font-weight: bold;
}

.bolder{
  font-weight: bolder;
}

/* --x-- font-weight --x-- */

/* ----- colors ----- */

.red{
  color: var(--red);
}

/* --x-- colors --x-- */

/* ---- img size ----- */

.p300x300{
  width: 300px;
  height: 300px;
}

/* --x-- img size --x-- */

h1{
  margin: 0px;
  padding-bottom: 1.5rem;
}

h2{
  font-family: var(--fjalla);
  letter-spacing: 0.3rem;
}

h3{
  font-family: fantasy;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  margin: 1rem 0rem;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  font-size: 1.1rem;
  color: white;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

hr.new{
  border: 1px solid var(--red);
}
/* ------x------ Global Classes ------x------ */

/* ----------------- Nav Bar ----------------- */

nav{
  padding: 0 3rem;
  height: 0rem;
  min-height: 10vh;
  margin: 0rem 15rem 0rem 12rem;
  overflow: hidden;
}

nav .nav-bar{
  justify-content: space-between;
}

nav .nav-bar .nav-brand{
  padding: 1rem 0 ;
}

nav .nav-bar .nav-brand a{
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  color: var(--red);
  display: block;
}

nav .search-bar{
  border: 2px solid var(--red);
  border-radius: 2rem;
  margin: 1.5rem;
  width: 18rem;
}

.search-bar input{
  border: none;
  outline: none;
  float: left;
  margin-left: 1.1rem;
  padding: 0;
  font-size: 1.1rem;
  transition: 0.4s;
  line-height: 40px;
  background: transparent;
  color: white;
  caret-color: var(--red);
}

.search-bar input::-webkit-calendar-picker-indicator {
  display: none;
}

.search-bar a{
  color: var(--red);
  padding: 0;
  line-height: 40px;
  float: right;
  padding-right: 1rem;
  font-size: 1.2rem;
  opacity: 80%;
}

.search-bar a:hover{
  opacity: 100%;
}


main .home-section{
  height: 100%;
  display: flex;
  justify-content: center;
}

main .home-section .home-title{
  padding: 8rem 0;
}

main .home-title .btn{
  width: 40%;
  margin: 8rem auto 2rem auto;
  display: flex;
  justify-content: center;
}

/* -------x------- Home Title Page -------x---------*/

/* -------------------- Project Section ---------------- */

main .project-section{
  margin: 5rem 0rem;
  padding: 1rem 15rem;
  /* background-color: var(--light-gray); */
}


main .project-section h3{
  display: flex;
  justify-content: center;
}

main .project-section .project-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .project-section .project-category .btn{
  margin: 0rem 2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1.1rem;
}

main .project-section .container{
  display: flex;
  justify-content: center;
}


main .project-section .container span{
  width: 30%;
  height: auto;
  padding: 1rem;
  position: relative;
}

main .project-section .container .project-name p{
  color: var(--yellow);
}

main .project-section .container .project-name{
  position: absolute;
  top: 0%;
  margin-left: 5%;
}

main .project-section .container .project-lang{
  position: absolute;
  bottom: 5%;
  right: 10%;
  color: white;
}

/* --------- Overlay ---------*/

main .project-section .container .overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(63, 73, 84, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

main .overlay-container{
  position: relative;
  width: 100%;
}

main .overlay-container:hover .overlay{
  bottom: 0;
  height: 100%;
}

main .overlay-container:hover  .project-name{
  display: none;
}

main .overlay-container:hover  .project-lang{
  display: none;
}

main .container .text{
  color: var(--parrot);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ----x---- Overlay ----x----*/

/* ---------x---------- Project Section --------x------- */

/* -------------------- Blog Section ---------------- */

main .blog-section{
  height: auto;
  margin-top: 5rem;
  padding: 1rem 15rem;
  padding-bottom: 5rem;
  /* background-color: var(--light-gray); */
}

main .blog-section h3{
  display: flex;
  justify-content: center;
}

main .blog-section .blog-category{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .blog-section .blog-category .btn{
  margin: 0rem 2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1.1rem;
}

main .blog-section .container ul{
  display: flex;
  justify-content: center;
}

main .blog-section .container li{
  max-width: 30%;
  height: auto;
  padding: 1rem;
  position: relative;
}

main .blog-section .container .blog-name p{
  color: var(--yellow);
}

main .blog-section .container .blog-name{
  position: absolute;
  top: 0%;
  margin-left: 5%;
}

main .blog-section .container .blog-lang{
  position: absolute;
  bottom: 5%;
  right: 10%;
  color: white;
}

main .blog-section .container .overlay{
  overflow: hidden;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  position: absolute;
  background-color: var(--text-gray);
  opacity: 0;
  transition: 0.7s ease;
}

main .blog-section .overlay-container:hover .overlay{
  opacity: 0.8;
}

main .blog-section .overlay-container:hover .blog-name{
  display: none;
}

main .blog-section .overlay-container:hover .blog-lang{
  display: none;
}
/* --------x------- Blog Section -----x------- */

/* ---------x---------- Main Section --------x---------- */

/* ----------------------- Footer ---------------------- */

footer{
  width: 100%;
  height: 30vh;
  background-color: black;
  padding: 2rem 3rem;
}

.footer-grid{
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

footer .footer-grid .newsletter, .connect{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

footer span{
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.newsletter input{
  padding: 0.5rem 0.4rem;
  width: 14.2rem;
  background-color: var(--gray);
  border: none;
  color: white;
  outline: none;
}

.newsletter input:hover{
  background-color: var(--light-gray);
}

.newsletter .news-btn{
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
  margin: 0.5rem 0rem;
  transition: 0.5s ease;
  width: 15rem;
  padding: 0.2rem 0;
}

.news-btn:hover{
  color: black;
  background-color: var(--light-gray);
}

footer .social-items{
  padding-top: 1rem;
}

footer .social-items a{
  color: var(--light-gray);
}

.copyright{
  text-align: center;
}
/* -----------x----------- Footer -----------x---------- */
/* -----------x----------- Footer -----------x---------- */

.body{
  background-color: var(--yellow);
}

.project-area{
  width: 65%;
  min-height: 95%;
  height: auto;
  margin: 0rem auto;
  background-color: white;
}

.project-padding{
  margin: 0rem 2rem;
}

.heading{
  margin: 0 auto 0 30%;
}

.align-left{
  text-align: left;
}

/* -----------x----------- Project -----------x---------- */


/* ----------------------- Media Queries ---------------------- */

/* -----------x----------- Media Queries -----------x---------- */
